<ion-tabs class="tabs-top tabs-icon-left">
  <ion-tab title="List 1" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/list1">
      <ion-nav-view name="list1-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="List 2" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/list2">
      <ion-nav-view name="list2-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="List 3" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/list3">
      <ion-nav-view name="list3-tab"></ion-nav-view>
  </ion-tab>    
</ion-tabs>
